initialize()
{
    //setSeed(23102983034913);
    initializeSLiMModelType("WF");
    initializeTreeSeq();
    initializeMutationRate(u);
    initializeMutationType("m1", 0.5, "f", 0.0);
    m1.convertToSubstitution = F;
    initializeGenomicElementType("g1", c(m1), c(1.0));
    initializeGenomicElement(g1, 0, l-1);
    initializeRecombinationRate(r);
}

1 late() { 
    sim.readFromPopulationFile(basename+".trees"); 
    mut = sim.mutationsOfType(m1);
    mut.setSelectionCoeff(s);
    freq = sim.mutationFrequencies(p0,mut);
    catn(freq);
}

100 late() {
    catn("Done.");
    mut = sim.mutationsOfType(m1);
    freqs = sim.mutationFrequencies(p0,mut);
    freq = 1/s * mut.selectionCoeff * freqs;
    catn(sum(freq));	
    sim.treeSeqOutput(basename+".out.trees");
    sim.simulationFinished();
}

